body {
  min-width: 100px;
  min-height: 500px;
}

body > div {
  width: 100%;
}

#root {
  display: none;
}

#msv {
  color: darkblue;
  font-weight: bold;
}

#dataSection > table {
  width: 100%;
}

#dataSection > table,
th,
tr {
  border: 1px solid black;
  text-align: center;
  align-items: center;
}

.removeButton {
  display: inline-block;
  height: 100%;
}
